<ul class="list-inline text-center footer-links">

{%- if site.rss-description -%}
  <li class="list-inline-item">
    <a href="{{ '/feed.xml' | relative_url }}" title="RSS">
      <img class="externalicon" src="/assets/img/icons8-rss-100.png"  width=48/>
      <span class="sr-only">RSS</span>
    </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.email -%}
  <li class="list-inline-item">
    <a href="mailto:{{ site.social-network-links.email }}" title="Email me">
      <img class="externalicon" src="/assets/img/icons8-circled-envelope-100.png"  width=48/>
      <span class="sr-only">Email me</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.github -%}
  <li class="list-inline-item">
    <a href="https://github.com/{{ site.social-network-links.github }}" title="GitHub">
      <img class="externalicon" src="/assets/img/GitHub-Mark-64px.png" width=48/>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.twitter -%}
  <li class="list-inline-item">
    <a href="https://twitter.com/{{ site.social-network-links.twitter }}" title="Twitter">
      <img class="externalicon" src="/assets/img/icons8-twitter-circled-100.png" width=48/>
      <span class="sr-only">Twitter</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.linkedin -%}
  <li class="list-inline-item">
    <a href="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" title="LinkedIn">
      <img class="externalicon" src="/assets/img/icons8-linkedin-100.png" width=48/>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
{%- endif -%}
</ul>
